//colors for the site
$site-green: rgb(117, 192, 137);
$site-darkgreen: rgb(87, 162, 107);
$site-blue-shadow: #161f2e;
$site-darkblue: #212f45;
$site-blue: rgb(45, 65, 95);
$site-white: rgb(240, 240, 250);

//fonts for the site
$font-manjari: "Manjari", sans-serif;
$font-raleway: "Raleway", sans-serif;
